{% extends 'Base.html' %}
{% load static %}
{% block title %}Website-Home{% endblock title %}
{% block Homeactive %}active{% endblock Homeactive %}
{% block body %}
<style></style>
<h1><center><u><i>TERMS AND CONDITIONS</i></u></center></h1>
<h3>GENERAL TERMS</h3>
    <p style="text-align: left">
        By accessing and using the website, you confirm that you are in agreement with and bound
        by the terms of service contained in the Terms and Conditions outlined below. These
        terms apply to the entire website and any email or other type of communication between
        you and the team.<br>
        Under no circumstances shall team be liable for any direct, indirect, specials,
        incidental or consequential damages, but not limited to, loss of data or profit, arising
        out of the use, the materials on this site, even if team or an authorized representative
        has been advised of the possibility of such damages. If your use of this site results in
        the need for servicing, repair or correction of equipment or data, you assume any costs
        there.<br>
    <h3>License</h3>
    Our Auction Website grants you a revocable, non-exclusive, non-transferable, limited license
    to download, install and use our service strictly in accordance with terms of this
    Agreement.<br>
    There Terms and Conditions are a contract between you and Auction Website, the provider of
    the Auction Website and the services accessible from the Auction Website.<br>
    You are agreeing to be bound by these Terms and Conditions. If you do not agree to the same,
    please do not use the Services. In these Terms and Conditions, “you” refers to both you as
    an individual and to the entity you represent. If you violate any of these Terms and
    Conditions, we reserve the right to cancel your account or block access to your account
    without notice.<br>
    <h3>Payment</h3>
    A valid payment method, including credit card or PayPal, is required to process the payment
    for your Subscription. You shall provide the team with accurate and complete billing
    information including full name, address, state, zip code, telephone number, and a valid
    payment method information. By submitting such payment information, you automatically
    authorize the website to charge all Subscription fees incurred through your account to any
    such payment instruments.<br>
    Should automatic billing fail to occur for any reason, the website will issue an electronic
    invoice indicating that you must proceed manually, within a certain deadline date, with the
    full payment corresponding to the billing period as indicated on the invoice.<br>
    <h3>Accounts</h3>
    When you create an account with us, you must provide us information that is accurate,
    complete, and current at all times. Failure to do so constitutes a breach of the Terms,
    which may result in immediate termination of your account on our Service.<br>
    You are responsible for safeguarding the password that you use to access the Service and for
    any activities or actions under your password, whether your password is with our Service or
    a third-party service.<br>
    You agree not to disclose your password to any third party. You must notify us immediately
    upon becoming aware of any breach of security or unauthorized use of your account.<br>
    You may not use as a username the name of another person or entity or that is not lawfully
    available for use, a name or trade mark that is subject to any rights of another person or
    entity other than you without appropriate authorization, or a name that is otherwise
    offensive, vulgar or obscene.<br>
    <h3>Disclaimer</h3>
    Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS
    AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or
    implied, including, but not limited to, implied warranties of merchantability, fitness for a
    particular purpose, non-infringement or course of performance.<br>
    The team its subsidiaries, affiliates, and its licensors do not warrant that a) the Service
    will function uninterrupted, secure or available at any particular time or location; b) any
    errors or defects will be corrected; c) the Service is free of viruses or other harmful
    components; or d) the results of using the Service will meet your requirements.<br>
    <h3>Usage</h3>
    Looking at the features of the website, there are many things which website uses from your
    device like your data, camera, speaker, many other things , and you agreeing to the terms
    and conditions, are allowing the website to use those resources fully without restrictions
    and that the website wont be responsible for any discrepancy.<br>
    </p>
{% endblock body %}